@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2d5ccv');
  src:  url('fonts/icomoon.eot?2d5ccv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2d5ccv') format('truetype'),
    url('fonts/icomoon.woff?2d5ccv') format('woff'),
    url('fonts/icomoon.svg?2d5ccv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-triangle-down:before {
  content: "\e90f";
}
.icon-shopping-cart:before {
  content: "\e90e";
}
.icon-gold:before {
  content: "\e90a";
}
.icon-weixin:before {
  content: "\e90b";
}
.icon-man-many:before {
  content: "\e90c";
}
.icon-man-gear:before {
  content: "\e90d";
}
.icon-medal:before {
  content: "\e905";
}
.icon-head:before {
  content: "\e906";
}
.icon-bag:before {
  content: "\e907";
}
.icon-card:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-hook:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e902";
}
.icon-address:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-circle:before {
  content: "\e900";
}

