@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?43k2gi');
  src:  url('fonts/icomoon.eot?43k2gi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?43k2gi') format('truetype'),
    url('fonts/icomoon.woff?43k2gi') format('woff'),
    url('fonts/icomoon.svg?43k2gi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
  content: "\e900";
}
.icon-wallet:before {
  content: "\e920";
}
.icon-gold-2:before {
  content: "\e921";
}
.icon-order:before {
  content: "\e922";
}
.icon-dialog:before {
  content: "\e923";
}
.icon-licencePlate:before {
  content: "\e91d";
}
.icon-mobile:before {
  content: "\e91e";
}
.icon-man:before {
  content: "\e91f";
}
.icon-repair:before {
  content: "\e919";
}
.icon-washCar:before {
  content: "\e91a";
}
.icon-oil:before {
  content: "\e91b";
}
.icon-tire:before {
  content: "\e91c";
}
.icon-store:before {
  content: "\e918";
}
.icon-star-2:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-dove:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-good:before {
  content: "\e916";
}
.icon-file:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-triangle-down:before {
  content: "\e90f";
}
.icon-shopping-cart:before {
  content: "\e90e";
}
.icon-gold:before {
  content: "\e90a";
}
.icon-weixin:before {
  content: "\e90b";
}
.icon-man-many:before {
  content: "\e90c";
}
.icon-man-gear:before {
  content: "\e90d";
}
.icon-medal:before {
  content: "\e905";
}
.icon-head:before {
  content: "\e906";
}
.icon-bag:before {
  content: "\e907";
}
.icon-card:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-hook:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e902";
}
.icon-address:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-circle:before {
  content: "\e92b";
}

